.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  width: 150px;
  height: 250px;
  background-color: lightblue;
  float: left;
  margin: 10px;
  border-radius: 10px;
}

.top {
  margin: 10px;
}

.top img {
  width: 100%;
}

.bottom {
  margin: 20px;
}

.bottom p {
  font-size: 12px;
}